* {
    background-color: #4d4d4d;
    color: rgb(62, 250, 250);
}

h2 {
    text-align: center;
}

/* GALLERY */

#photo_list {
    display: flex;
    flex-direction: row;
}

.photo {
    margin: 20px;
    width: 300px;
}