* {
    color: rgb(62, 250, 250);
}

h2 {
    text-align: center;
}

/* GALLERY */

#photo_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery_photo {
    margin: 20px;
    width: auto;
    height: 400px;
}

.big_photo {
    width: auto;
    height: 1080px;
}

#latest_photo {
    margin: auto;
    text-align: center;
}